.container{  
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.container__box{
    min-width: 600px;
    max-width: 800px;
}

.title h1{
    margin-bottom: 0px;
    margin-top: 0px;
}

.meta{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.meta__right{
    margin-left: auto;
    color: rgb(156, 156, 156);
}


.meta_info p {
    margin: 0px;
}

.content{
    min-height: 400px;
}

.attribution {
    text-align: right;
}

.bottom {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link {
    text-decoration: underline;
    font-size: 1rem;
}

