.navbar{
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.navItem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.navItem__text{
    font-size: 2.5rem;
}

.navItem__home{
    font-size: 2.5rem;
    cursor: pointer;
}

.navFiller{
    flex-grow: 1;
}