.container{  
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.container__rowbox{
    display: flex;
    flex-direction: row;
}

.meta{
    display: flex;
    flex-direction: row;
    margin: 0px;
}


.description{
    min-width: 400px;
    max-width: 500px;
    height: 100%;
}

.lead{
    font-size: 1.5rem;
    margin-top: 0px;
}

.editText{
    font-size: 1em;
    margin-top: 100px;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.content{
    min-width: 400px;
    max-width: 500px;
}

.content ol{
    margin-top: 0px;
}


.link{
    text-decoration: underline;
    margin-bottom: 10px;
}

@media (max-width: 799px) {
    
    .container__box{
        overflow: auto;
    }

    .container__rowbox{
        flex-direction: column;
    }

    .description{
        min-width: none;
        max-width: none;
    }

    .lead{
        font-size: 1rem;
        margin-top: 0px;
    }

    .editText{
        display: none;
    }

    .content{
        margin-top: 50px;
    }
} 